<%= render 'header' %>
<div class="notice">
  <%= notice %>
</div>
<div class="everything">
  <div class="restaurant_data">
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.description %></p>
    <p>Average score:
      <%= @average.to_f.round(1) %></p>

  <h3>Add your review</h3>
  <%= form_for([@restaurant, Review.new]) do |form| %>
  <p><%= form.label :author %></p>
  <p><%= form.text_field :author %></p>
  <p><%= form.label :text, 'Review' %></p>
  <p><%= form.text_area :text %></p>
  <p><%= form.label :score %></p>
  <p><%= form.select :score, ['Select', '1','2','3','4','5'] %></p>
  <%= form.submit 'submit' %>
  <% end  %>
  <br><br>

    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
    <%= link_to 'Delete', restaurant_path(@restaurant), :method => :delete, data: {:confirm => "Are you sure?"} %>

  </div>

  <div class="reviews">
    <% if @reviews %>
      <h2>Reviews</h2>
      <% for review in @reviews do %>
        <p>
          <strong><%= review.author %></strong>
          :
          <%= review.text %>
          <%= review.score %>/5</p>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'footer' %>
